.destinationView-content {
    justify-content: center;
    height: 100%;
    align-items: start;
}

.destination-name {
    height: 50px;
    width: 90%;
    border: 1px solid black;
    border-radius: 20px;
    margin-top: 2%;
    display: flex;
    margin-left: 5%;
    justify-content: center;
    align-items: center;
}

.destinationView-content h2{
    margin-left: 5%;
    font-weight: normal;
}

.destination_con {
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-bottom: 50px;
    width: 100%;
    margin-left: 50px;
    border-radius: 20px;
}


