.travelcardes-container{
    justify-content: center;
    height: 100%;
    align-items: start;
}
.travelcards-headline{
    height: 50px;
    width: 90%;
    border: 1px solid black;
    border-radius: 20px;
    margin-top: 2%;
    display: flex;
    margin-left: 5%;
    justify-content: center;
    align-items: center;
}

.destinationcontainerContent{
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-bottom: 50px;
    width: 100%;
    border-radius: 20px;
}

.desrinationrow{
    display: flex;
    justify-content: center;
    align-items: center;
}

.destinationitem-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.destination-item {
    position: relative;
    width: 250px;
    height: 300px;
    border-radius: 15px;
    overflow: hidden;
    gap: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.destination-item:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.destination-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.destination-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
}

.destination-info h2{
    margin: 0;
    color: white;
    font-size: 1.2em;
}