.destination_container{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: start;
}

.d_container{
    height: 50px;
    width: 90%;
    border: 1px solid black;
    border-radius: 20px;
    margin-top: 2%;
    justify-content: center;
    align-items: center;
}

.destination_container h1{
    margin-left: 40%;
    margin-top: 4px;
    font-weight: normal;
}

.container_category{
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-direction: row;
    margin-top: 1%;
    margin-bottom: 50px;
    width: 1400px;
    margin-left: 50px;
    border-radius: 20px;
}